<h3>Arquivos</h3>
<button (click)="refresh()">
  <fa-icon icon="sync"></fa-icon>
</button>
<ul>
  <li *ngFor="let file of files, let i = index">
    <span style="text-overflow: ellipsis; width: 6em; overflow: hidden;">
      {{file.type.toString().toUpperCase()}}:{{file.name}}
    </span>
    <section>
      <button ngxClipboard [cbContent]="file.file" (click)="delete(file) && remove(i)">
        <fa-icon icon="trash"></fa-icon>
      </button>
      <button ngxClipboard [cbContent]="file.file">
        <fa-icon icon="copy"></fa-icon>
      </button>
    </section>
  </li>
</ul>
