<a (click)="openCloseTools()">
  Ferramentas
</a>
<div *ngIf="showMenu === 1">
  <a [routerLink]="'/exp'">
    Converter er em afd
  </a>
  <a [routerLink]="'/af'">
    União de autômatos finitos
  </a>
  <a [routerLink]="'/af/determinizacao'">
    Determinização de autômatos finitos
  </a>
</div>

<a (click)="openCloseLA()">
  Análise Léxica
</a>
<div *ngIf="showMenu === 2">
  <a [routerLink]="'/la/generate'">
    Gerar Análisador Léxico
  </a>
  <a [routerLink]="'/la'">
    Analisador Léxico
  </a>
</div>

<a (click)="openCloseSA()">
  Análise Sintática
</a>
<div *ngIf="showMenu === 3">
  <a [routerLink]="'/sa/generate'">
    Gerar Análisador Síntatico
  </a>
</div>

<a [routerLink]="'/vanguarda'">
  Compilador: vanguarda
</a>

